.item {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    border: 1px solid #cfcfbf;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 20px;
}

.completed {
    text-decoration: line-through;
    border: 1px solid #47ca43;
}

button {
    border: 0px;
    width: 100px;
    height: 30px;
    font-size: 1rem;
}

.complete-btn {
    border-radius: 5px 0 0 5px;
}

.remove-btn {
    border-radius: 0 5px 5px 0;
}